@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("@/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  max-width: 720px;
  margin: 40px auto;
}


html, .container {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(183 192 223);
    border-radius: 5rem;
  }
}